html, body, ul {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size:14px;
}

#wrapper {
    margin: 0 auto;
    width: 612px;
    height: 350px;
    border: 1px solid black;
    background-color: #1E3741;
    border-radius: 10px;
}

.clear {
    clear: both;
}

nav ul {
    margin-top:5px;
}

    nav ul li {
        float: left;
        /*display: inline;*/
        background-color: #4B5F67;
        list-style: none;
        margin: 1px;
        padding: 10px;
        margin-bottom: 10px;
    }

        nav ul li a {
            text-decoration: none;
            color: #87A2AD;
        }

        nav ul li:hover {
            background-color: #1E3741;
        }

            nav ul li:hover a {
                color: white;
            }

#news {
    display: inline-block;
    width: 250px;
    float: left;
}

    #news header {
        padding: 10px 8px;
        background-color: #00968C;
    }

        #news header a {
            text-decoration: none;
            color: white;
        }

article {
    display: block;
    width: 240px;
    margin: 10px 8px;
}

article:not(:last-of-type)
{
    border-bottom: 1px solid #2e434e;
}

    article a {
        text-decoration: none;
        color: #8DABAC;
        margin-right:5px;
        text-align:left;
    }

.video {
    float: left;
    display: inline;
}

iframe {
    width: 344px;
    height: 270px;
    border: 0;
}
