html, body{
    margin: 0;
    padding: 0;
    background-color: #666;
    color: #ffa853;
    font-family: serif;
    font-size: 20px;
}

h1, h3 {
    text-align: center;
}

label, input {
    margin: 10px;
}
#console {
    background-color: black;
    color: white;
    border: 5px solid-color: white;
    padding: 10px;
    margin: 5px;
}

#inputForm, #inputFormOne, #inputFormTwo, #inputFormThree {
    background: white;
    border: 1px solid #ffa853;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #ffa853;
    color: #666;
    outline: none;
    height:23px;
    width: 275px;
}

#button {
    -moz-box-shadow:inset 0 0 14px -3px #f2fadc;
    -webkit-box-shadow:inset 0 0 14px -3px #f2fadc;
    box-shadow:inset 0 0 14px -3px #f2fadc;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
    background:-moz-linear-gradient(top, #dbe6c4 5%, #ffa853 100%);
    background:-webkit-linear-gradient(top, #dbe6c4 5%, #ffa853 100%);
    background:-o-linear-gradient(top, #dbe6c4 5%, #ffa853 100%);
    background:-ms-linear-gradient(top, #dbe6c4 5%, #ffa853 100%);
    background:linear-gradient(to bottom, #dbe6c4 5%, #ffa853 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#ffa853',GradientType=0);
    background-color:#ffa853;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #b2b8ad;
    display:inline-block;
    cursor:pointer;
    color:#757d6f;
    font-family: serif;
    font-size:18px;
    font-weight:bold;
    font-style:italic;
    padding:8px 24px;
    text-decoration:none;
}
#button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
    background:-moz-linear-gradient(top, #ffa853 5%, #dbe6c4 100%);
    background:-webkit-linear-gradient(top, #ffa853 5%, #dbe6c4 100%);
    background:-o-linear-gradient(top, #ffa853 5%, #dbe6c4 100%);
    background:-ms-linear-gradient(top, #ffa853 5%, #dbe6c4 100%);
    background:linear-gradient(to bottom, #ffa853 5%, #dbe6c4 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
    background-color:#9ba892;
}
#button:active {
    position:relative;
    top:1px;
}
