ul {
    list-style: none;
    display: block;
    font-size: 20px;
}

    ul ul {
        display: none;
    }

li:hover > ul {
    display: block;
    padding-left: 25px;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: underline;
    }

ul ul li a{
    color: #969696;
}
/*ul li:not(.first) a {
    color: #969696;
}*/
