body
	margin 0
	padding 0 
	div#wrapper
		width 90%
		text-align center
		margin 0 auto
		img
			border 2px outset gray	
		div#visualizer
			img
				width 50%
				margin 0 auto
				display none
				&:target
					display block	
		div#static
			margin 20px
			a
				margin 0px 10px
				img
					width 20%
				