<h1>Welcome to Self Manager 2016</h1>

<p>This is just another web application</p>
<strong> Why is this application so different (or useless)</strong>
<ul>
	<li>There are so many better apps</li>
	<li>Exam preparation</li>
	<li>Batman</li>
</ul>